html {
    font-family:"DejaVu Sans", Arial, Helvetica, sans-serif;
    text-rendering:optimizeLegibility; 
    font-size:12pt;
}

body {
    background-image:url("../images/lghtmesh.png");
    min-width:19em;
}

#main {
    margin:1em 8%;
    /* border:.25em solid lightgrey; */
}

#header {
    background-color:skyblue;
    border:1px solid black;
}

#title {
    padding-left:.5em;
}

#description {
    margin:-1em 2em 1em;
}

.content {
    background-color:white;
    border:1px solid black;
    border-top:none;
    padding:1em;
    line-height:1.33em
}

.post {
    border-bottom:1px dotted grey;
    margin-bottom:1em;
}

.post:after {
    content:"␄";
    font-size:larger;
    color:grey;
}

.timestamp {
    font-size:x-small;
    padding:0 .5em;
    margin-bottom:-1.5em;
    color:grey;
}


#footer {
    border:1px solid black;
    border-top:none;
    text-align:center;
    background-color:skyblue;
    line-height:1.33em;
    font-size:small;
}

h2 {
    text-decoration:underline;
}

h3:before {
    content:"» ";
}

p {
    text-align:justify;
}
